<p>Presupuesto</p>
<form [formGroup]="form" (ngSubmit)="saveBudget()">
    <app-product [listProducts]="listProducts" [selectedProducts]="selected"
        (webCostChanged)="webCost.set($event)"></app-product>
    <p>Total: {{ total() }} €</p>

    <label>Nombre del cliente/a:</label>
    <input type="text" formControlName="clientName" />

    <label>Teléfono:</label>
    <input type="text" formControlName="phone" />

    <label>Email:</label>
    <input type="email" formControlName="email" />

    <button type="submit" [disabled]="form.invalid">Guardar presupuesto</button>
</form>
<app-budgets-list></app-budgets-list>