/* Contenedor principal del formulario */
app-budgets-list {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.main-container form {
    width: 100%;
}

.total {
    text-align: right;
    margin-right: 30px;
    font-size: 2rem;
    font-weight: bold;
    padding-block: 2rem;
}

.inputs-row {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 10px;
}

.content-inputs-budgets {
    padding-block: 1.5rem;
}

.title-page {
    padding-block: 1.5rem;
}

.inputs-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.inputs-row mat-form-field.full-width {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .inputs-row {
        flex-direction: column;
    }

    .inputs-row mat-form-field,
    .inputs-row button {
        width: 100%;
        flex-basis: auto;
    }
}