<h2>Productos</h2>
<div class="list-products">
    @for (product of listProducts(); track product.id) {
    <mat-card class="card">
        <div class="card-product">
            <div class="card-description">
                <h2>{{ product.name }}</h2>
                <p>{{product.description}}</p>
            </div>
            <div class="card-price">{{ product.price }} €</div>
            <div class="card-select">
                <mat-checkbox [checked]="isSelected(product.id)"
                    (change)="onToggle(product.id, $event.checked)">Selecionar
                </mat-checkbox>
            </div>
            @if (product.id == 3 && isSelected(product.id)) {
            <div class="content-panel">
                <app-panel [initialPages]="pages()" [initialLanguages]="languages()"
                    
                    (pagesChanged)="onPagesChanged($event)"
                    (languagesChanged)="onLanguagesChanged($event)"></app-panel>
            </div>
            }
        </div>
    </mat-card>
    }
</div>